<div id="<%= dom_id content %>">
  <p>
    <strong>Title:</strong>
    <%= content.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= content.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= content.start_date %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= content.end_time %>
  </p>

</div>
