<div id="<%= dom_id content %>">
  <p>
    <strong>Tittle:</strong>
    <%= content.tittle %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= content.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= content.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= content.end_date %>
  </p>

</div>
