%div{:id => "#{dom_id content}"}
  %p
    %strong Title:
    = content.title
  %p
    %strong Description:
    = content.description
  %p
    %strong Start date:
    = content.start_date
  %p
    %strong End date:
    = content.end_date
