%p{:style => "color: green"}= notice
= render @content

.row.mt-4
.offset-3.col-3 
  = link_to t('application.back_to',model:t('activerecord.modules.content.other')), contents_path, class: "btn btn-secondary btn-block"
  

%div
  = link_to t('application.edit'), edit_content_path(@content)
  |
  \#{link_to t('application.back_to',model:t('activerecord.modules.content.other')), contents_path}
  
  \#{button_to t('application.delete')+" "+t('activerecord.modules.content.one'), @content, method: :delete}
