%b
  = t('activerecord.attributes.content.title')
  = ':'
  = @content.title
  %br
  = t('activerecord.attributes.content.description')
  = ':'
  = @content.description
  %br
  = t('activerecord.attributes.content.start_date')
  = ':'
  = @content.start_date.strftime("%d/%m/%Y %I:%M %P")
  %br
  = t('activerecord.attributes.content.end_date')
  = ':'
  = @content.end_date.strftime("%d/%m/%Y %I:%M %P")
  %br
  = t('activerecord.attributes.content.special_type')
  = ':'
  = @content.special_type
  %br

= link_to t('application.edit'), edit_content_path(@content)
\|
= link_to t('application.back'), contents_path