%p{:style => "color: green"}= notice
= render @content
%div
    = link_to t('application.edit_model', model: t('activerecord.modules.content.one')), edit_content_path(@content)
    |
    \#{link_to t('application.back'), contents_path}

    \#{button_to t('application.destroy_model', model: t('activerecord.modules.content.one')), @content, method: :delete}
