<div id="<%= dom_id contect %>">
  <p>
    <strong>Title:</strong>
    <%= contect.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= contect.description %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= contect.text %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= contect.start_date %>
  </p>

  <p>
    <strong>End date datetime:</strong>
    <%= contect.end_date_datetime %>
  </p>

</div>
