<%= form_with(model: contect) do |form| %>
  <% if contect.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contect.errors.count, "error") %> prohibited this contect from being saved:</h2>

      <ul>
        <% contect.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_field :text %>
  </div>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.datetime_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date_datetime, style: "display: block" %>
    <%= form.text_field :end_date_datetime %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
