= form_for @patient do |f|
  -if @patient.errors.any?
    .card.mx-4
      .card-body
        %div{style: 'color: red'}
          %h2
            = t('application.can_not_be_saved')
          %ul
            - @patient.errors.map(&:attribute).uniq.each do |attribute|
              %li
                - if attribute == :first_name || attribute == :last_name
                  - if @patient.send(attribute).blank?
                    = t('activerecord.errors.required_error_model', model: t("activerecord.attributes.patient.#{attribute}"))
                  - elsif @patient.send(attribute).length < 3
                    = t('activerecord.errors.minimum_long_error_model', model: t("activerecord.attributes.patient.#{attribute}"))
                  - else
                    = t('activerecord.errors.maximum_long_error_model', model: t("activerecord.attributes.patient.#{attribute}"))

  .form-group.mx-4
    = f.label :first_name, class: "form-label required"
    .div.w-25
      = f.text_field :first_name, autofocus: true, class: "form-control"

  .form-group.mx-4
    = f.label :last_name, class: "form-label required"
    .div.w-25
      = f.text_area :last_name, autofocus: true, class: "form-control"
        
    .row.mt-4
      .offset-3.col-3
        = link_to t('application.back'), patients_path, class: "btn btn-secondary btn-block"
      .col-3
        = button_tag t('application.save'), class: "btn btn-outline-success btn-block"

