%p{:style => "color: green"}= notice
.div.m-4
  .page.header
    %h1.mb-4
      = t('application.list_of', model: t('activerecord.modules.patient.other'))
    .float-end.pb-4
      = link_to t('application.create'), new_patient_path, class: "btn btn-primary"

  %table.table.table-striped
    %thread
      %tr
        %th= t('activerecord.attributes.patient.first_name')
        %th= t('activerecord.attributes.patient.last_name')
        %th
        %th
        %th
    %tbody
      -@patients.each do |patient|
        %tr
          %td= patient.first_name
          %td= patient.last_name
          %td= link_to t('application.show'), patient, class: "btn btn-info"
          %th= link_to t('application.edit'), edit_patient_path(patient), class: "btn btn-success"
          %th= button_to t('application.delete'), patient, method: :delete, class: "btn btn-danger"
