%h1= t('activerecord.modules.patient.one')

%p{:style => "color: green"}= notice

%p
  %strong= t('activerecord.attributes.patient.first_name') 
  = ':'
  = @patient.first_name
%p
  %strong= t('activerecord.attributes.patient.last_name') 
  = ':'
  = @patient.last_name

= link_to 'Edit', edit_patient_path(@patient)
|
= link_to 'Back', patients_path