%p#notice= notice

%p
  %b First name:
  = @patient.first_name
%p
  %b Last name:
  = @patient.last_name

= link_to t('application.edit'), edit_patient_path(@patient)
\|
= link_to t('application.back'), patients_path
