%h1= t('activerecord.modules.patiene.one')

%p{:style => "color: green"}= notice

%p
  %strong= t('activerecord.attributes.patiene.first_name') 
  = ':'
  = @patiene.first_name
%p
  %strong= t('activerecord.attributes.patiene.last_name') 
  = ':'
  = @patiene.last_name

= link_to 'Edit', edit_patiene_path(@patiene)
\|
= link_to 'Back', patienes_path
