%p#notice= notice

%p
  %b
    = t('activerecord.attributes.doctor.first_name')
  %b :
  %br
    = @doctor.first_name
%p
  %b
    = t('activerecord.attributes.doctor.last_name')
  %b :
  %br
    = @doctor.last_name
%p
  %b 
    = t('activerecord.attributes.doctor.code')
  %b :
  %br
    = @doctor.code

= link_to 'Edit', edit_doctor_path(@doctor)
\|
= link_to 'Back', doctors_path
