.row
  .col-6
    .div.m-4.mb-4
      %h1
        = t('application.cruds-available')

    .float-start.ml-4
      = link_to t('activerecord.modules.content.other'), contents_path, class: 'btn btn-danger', style: 'margin-left: 10px;'

    .float-start.ml-4
      = link_to t('activerecord.modules.appointment.other'), appointments_path, class: 'btn btn-danger', style: 'margin-left: 10px;'

    .float-start.ml-4
      = link_to t('activerecord.modules.doctor.other'), doctors_path, class: 'btn btn-danger', style: 'margin-left: 10px;'
    
    .float-start.ml-4
      = link_to t('activerecord.modules.patient.other'), patients_path, class: 'btn btn-danger', style: 'margin-left: 10px;'