%h1 Editing appointment

= render 'form'

= link_to 'Show', @appointment
\|
= link_to 'Back', appointments_path

%h1= t('application.editing_model', model: t('activerecord.modules.appointment.one'))

= render "form", appointment: @appointment
