%h1= t('activerecord.modules.appointment.one')

%p#notice= notice

%p
  %b
    = t('activerecord.attributes.appointment.date')
  %b :
  %br
    = @appointment.date.strftime("%d/%m/%Y %I:%M %P")

= link_to 'Edit', edit_appointment_path(@appointment)
\|
= link_to 'Back', appointments_path
